body {
    background-color:#E0FFF8;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
  }
html {
  height: 100%;
}
   img {
    width: 250px;
    /* margin-left: 20px;
    margin-right: 10px;
    margin-bottom: 5px; */
  }
  /********************* TEXT *********************/
  h1 {
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 20px;
    text-transform: uppercase;
    font-size: 40px;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }
  p {
    margin-left: 20px;
    margin-right: 20px;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }
  .dropdown-labels {
    margin-left: 20px;
    color: white;
    font-weight: bold;
  }
  .other-labels {
    margin-top: 1%; 
    color: white;
    size: 70px;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }

  label {
    color: white;
  }
  /********************* SECTIONS *********************/
  /* .container {
    width: 77%;
    margin-left: 23%;
    margin-right: 23%;
    margin-top: 1%;
    border-radius: 10px;
    float: left;
    overflow: visible; 
  } */

  .top-container {
    width: 70%; 
    margin-left: 25%;
    margin-top: 1%;
    border-radius: 10px;
    float: left;
  }

  .left-container {
    position: fixed;
    width: 17%;
    height: 93%;
    background-color:#1D74C1;
    float: left;
    /* margin-top: 0%;*/
    margin-left: 3%;  
    /* margin-bottom: 2%; */
    border-radius: 10px;
  }

  .bottom-container {
    width: 70%; 
    margin-left: 25%;
    margin-top: 1%;
    border-radius: 10px;
    text-align: center;
    float: left;
  }
 
  .columns {
    /* margin-top: 20px; */
    /* margin-left: 10x; */
    border-radius: 10px;
    float: left;
    /* box-sizing: border-box; */
  }
  /* .columns:first-child {
    margin-left:  50x; } */

  /* #barplot {
    margin-left: 5px;
    margin-right: 5px;
    margin-top: 5px;
    border-radius: 10px;
    
  }
  #map {
    margin-left: 5px;
    margin-right: 5px;
    margin-top: 5px;
    border-radius: 10px;
  }
  #piecharts {
    margin-left: 5px;
    margin-right: 5px;
    margin-top: 5px;
    border-radius: 10px;
    background-color:#1D74C1;

  }
  #scatterplot {
    margin-left: 5px;
    margin-right: 5px;
    margin-top: 5px;
    border-radius: 10px;
  } */
  #data-extract {
    margin-top: 30px;
    width: 100%;
    overflow: hidden;
    height: 400px;
  }
  #table {
    height: 420px;
    width: 800px;
    float: left;
    margin-left: 35px;
    margin-top: 15px;
  }
  #table-side {
    width: 400px;
    margin-left: 900px;
    margin-top: 60px;
    background-color: white;
    border-radius: 10px;
    padding: 20px;
  }

  /********************* BUTTONS *********************/
  #kids-button {
    width: 210px;
    height: 40px;
    border-radius: 5px;
    margin-left: 45px;
    margin-top: 10px;
    border: 0px;
    cursor: pointer;
    background-color: #E24E42;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-transform: uppercase;
    font-size: 15px;
  }
  #kids-button:hover {
    background-color: #E9B000;
    color: white;
  }

  #nokids-button {
    width: 210px;
    height: 40px;
    border-radius: 5px;
    margin-left: 45px;
    margin-top: 10px;
    border: 0px;
    cursor: pointer;
    background-color: #E24E42;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-transform: uppercase;
    font-size: 15px;
  }
  #nokids-button:hover {
    background-color: #E9B000;
    color: white;
  }

  #all-button {
    width: 210px;
    height: 40px;
    border-radius: 5px;
    margin-left: 45px;
    margin-top: 10px;
    border: 0px;
    cursor: pointer;
    background-color: #E24E42;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-transform: uppercase;
    font-size: 15px;
  }
  #all-button:hover {
    background-color: #E9B000;
    color: white;
  }

  /********************* DROPDOWNS *********************/
  .dropdown {
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 5px;
    margin-bottom: 10px;
  }
  .dropdown .Select-control{
    background-color: #1D74C1;
  }
  .dropdown .Select-menu-outer{
    background-color: #E24E42;
  }
  .dropdown .Select-value{
    background-color: #E24E42;
    color: #E0FFF8;
    font-size: 14px;
  }
  .dropdown .VirtualizedSelectFocusedOption {
    background-color: white;
    color: #1D74C1;
  }
  .dropdown .VirtualizedSelectOption  {
    font-size: 14px;
  }
  /********************* TOGGLES *********************/
  .toggle {
    margin-top: 8px;
  }
  /********************* SLIDER *********************/
  .rc-slider .rc-slider-with-marks {
    margin-top: 8px;
  }
  .rc-slider .rc-slider-handle  {
    background-color: #E24E42;
    border: 0px;
  }
  .rc-slider .rc-slider-track {
    background-color: #E24E42;
  }
  .rc-slider .rc-slider-dot-active {
    border-color: #E24E42;
  }


  